@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:600&display=swap');

.main {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-top: 5%;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 50px;
  color: white;
}

// .button {
//   background: rgba(26, 90, 40, .9);
//   color: white;
//   font-size: 70 px;
//
//
// }
