// @import 'bootstrap/dist/css/bootstrap.css';

body {
  margin: 0;
  background: url("./images/lettuce.jpeg");
  padding: 0;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffff00;
}
